@media screen and (max-width:760px) {


    /* Navbar  */
    
    .logo h1 {
        font-size: 20px;
        margin-top: -10px;
        margin-left: -20px;
    }
    
    .nav-list {
        gap: 15px;
     
    }
    
    .nav-list li {
     font-size: 10px;
       
    }
    
    .call-us img {
        height: 50px;
    }
    
    .call-us div {
        font-size: 12px;
     width: 50px;
    }
    /* Main-Section  */
    
    
    .main {
        display: flex;
      flex-direction: column;
    margin-top: -100px;
    
    }
    
    
    /* Left-Section  */
    
    .left h1 {
        font-size: 25px;  
        margin-left: -30px;
    }
    
    .btn {
        padding: 10px 30px;
        font-size: 15px;
    }
    
    
    /* Right-Section  */
    .card {
        padding: 20px;
        font-size: 15px;
        margin-left: 400px;
      
    
    }
    
    .puzzle img {
        height: 15px;
        width: 15px;
    }
    
    
    .puzzle{
        top: -60px;
        right: 70px;
        width: 150px;
    }
    
    .bulb{
        top: -20px;
        right:280px;
        width: 150px;
    }
    
    .bulb img {
        height: 40px;
    }
    }